@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.app {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  height: 100vh;
  background-image: linear-gradient(90deg, #000000, #4b4949);
  font-family: 'Maven Pro', sans-serif;
}

.main-container {
  padding: 0.7rem 1rem;
  margin: 0 1.6rem;
  display: flex;
  justify-content: left;
  align-items: center;
}








.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background-image: linear-gradient(to right, #1a1a1a, #1a1818, #4d4d4d, #1b1919);
  /* border: 1px groove #4b4949; */
  border-radius: 4px 20px 8px 5px;
}

.header-container-left {
  padding: 0 0.5rem;
}

.header-container-right {
  padding: 0 0.5rem;
}